<div fxLayout="column wrap" style=" " fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <mat-card style="border: 20px solid #F39;background-color: #9C3;width: 700px;margin:30px;">
      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h1>
              SRI KRISHNADEVARAYA UNIVERSITY<br>
            </h1>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h2>
              Anantapuramu (A.P) - 515003, INDIA</h2>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h2 style=" color: rgb(192, 0, 153);">
              Directorate of Evaluation</h2>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h1 style="color:red;text-decoration:underline;">
              B.Tech Degree Examinations Results April : 2019</h1>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <h2>
              Enter Hall Ticket Number</h2>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <h2>
                Enter Regno No: </h2>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput [(ngModel)]="hallticketnumber" required>

              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button (click)="showresults(hallticketnumber)">Submit</button></div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>