<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>
      <h3>{{data.Grade}}</h3>
      Name:{{data.Name}}<br><br>
      Roll number: {{data.rollnum}}<br><br>
      Marks: {{data.Marks}}<br><br>
      Result:{{data.Result}}
    </div>
  </div>
</div>