<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <form [formGroup]="staffForm">
    <div fxLayout="column wrap" style="margin-bottom: 10px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Staff Email" required formControlName="email">
        <mat-label>Staff Email</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Password" required formControlName="password">

      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Staff Name" required formControlName="name">
        <mat-label>Name</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Department" required formControlName="department">
        <mat-label>Department</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Staff Number" required formControlNumber="staffNumber">
        <mat-label>Staff Number</mat-label>
      </mat-form-field>
      <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
        <input matInput placeholder="Phone Number" required formControlName="phoneNumber">
        <mat-label>Phone Number</mat-label>
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="!isEdit"><button mat-raised-button color="primary" (click)="addStaff(staffForm.value)">Add Staff</button></div>
      <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false" *ngIf="isEdit"><button mat-raised-button color="primary" (click)="editStaff(staffForm.value)">Edit Staff</button></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button mat-dialog-close color="warn">Cancel</button></div>
    </div>
  </form>
</div>