<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar color="primary">Add Events<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button routerLink="/eventdetail" color="accent">Back</button></div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:700px;height:800px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="margin-top:60px;box-shadow: 5px 10px 8px 10px #888888;">
      <mat-card-content>
        <form [formGroup]="eventdata">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Input" required formControlName="eventtopic">

            </mat-form-field>
            <mat-form-field>
              <textarea matInput formControlName="eventdetail" placeholder="Text Area" required></textarea>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;legacy&apos;">
              <input matInput placeholder="Date Picker" [matDatepicker]="picker" formControlName="eventdate" required [disabled]="false">
              <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
              <mat-datepicker #picker [disabled]="false"></mat-datepicker>

            </mat-form-field><button mat-raised-button color="accent" (click)="onAddevent()">Add Event</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>