<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
          <h4 style="    color: red;     font-size: 30px;">
            Welcome to Mechanical Engineering</h4>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="    margin-bottom: 20px; " fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="50px" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="height:10px;" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="margin-left:20px;">
            <mat-card-title style="font-size: 28px;   color: red; font-weight: bold;" align="center">Head of the Department</mat-card-title>

            <mat-card-subtitle style="    font-weight: bold; color: red; font-size: larger;">Mr.Saikumar V</mat-card-subtitle>

            <mat-card-content style="    color: black;">
              <h4>
                The Department started in2006 with 60 intake seats B.Tech self funding course.The M.Tech self funding course with 25 intake seats started in 2013.The department has a vibrant student body numbering 290 and faculty numbering 15.</h4>
              <h4>
                The Department has established a CM&apos;s Excellence Lab with collaboration APSSDC AP government.The Department also had MOU IIHT/vizag for students knowledge and empowerment.Student have been placed, both India and abroad in several national and international companies including HP,IBM,INFOSYS,TCS,ACCENTURE,
                WIPRO,ORACLE,MAHINDRA and in different government sectors in official positions.Recently Department conducted on campus drive and many students were placed in it.The Deparment allumini group for students where all students can collabrate and share information for career success.Students from Deparment actively participating in social activities like NSS and NCC of both central and state programmes and achieved prizes and certificate.</h4>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxLayout="column wrap" fxFlex="40" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\mechhod.jpg" style="width:100%;height:85%;"></div>
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <mat-toolbar style="margin-bottom: 20px;">
        <h2 style="color: red;font-size: 30px;">
          Teaching Staff</h2>
      </mat-toolbar>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-card style="width:50%;height: fit-content;margin-bottom: -50px;">
          <mat-card-title style="color:blue;">Dhanunjaya K</mat-card-title>

          <mat-card-subtitle style="color:black;">Professor</mat-card-subtitle>

          <mat-card-content style="width:100%;">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\danunjaya.jpg" style="width:280px;height:150px;"></div>
              <div fxLayout="column wrap" style="color: red;font-size: large;" fxFlex="50" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                <div style="width:70%;">
                  <div style="margin-bottom:2px;">
                    Name : Dhanunjaya K</div>
                  <div style="margin-bottom:2px;">
                    Qualification : M.Tech</div>
                  <div style="margin-bottom:2px;">
                    Experience : 10+years.</div>
                  <div style="margin-bottom:2px;">
                    Phone : +91 9505004628</div>
                  <div style="margin-bottom:2px;">
                    Email:Dhanunjaya12@gmail.com</div>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="row wrap" style="margin:10px;" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-card style="width:50%;height: fit-content;margin-bottom: -50px;">
          <mat-card-title style="color:blue;">Rajesh Kumar PR</mat-card-title>

          <mat-card-subtitle style="color:black;">Professor</mat-card-subtitle>

          <mat-card-content style="width:100%;">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\rajesh.jpg" style="width:280px;height:150px;"></div>
              <div fxLayout="column wrap" style="color: red;font-size: large;" fxFlex="50" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                <div style="width:70%;">
                  <div style="margin-bottom:2px;">
                    Name : Rajesh Kumar PR</div>
                  <div style="margin-bottom:2px;">
                    Qualification : Ph.d</div>
                  <div style="margin-bottom:2px;">
                    Experience : 5+years.</div>
                  <div style="margin-bottom:2px;">
                    Phone : +91 9155125879</div>
                  <div style="margin-bottom:2px;">
                    Email:RajeshKumarPR@gmail.com</div>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="row wrap" style="margin:10px;" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-card style="width:50%;height: fit-content;margin-bottom: -50px;">
          <mat-card-title style="color:blue;">Vijay Kumar G</mat-card-title>

          <mat-card-subtitle style="color:black;">Professor</mat-card-subtitle>

          <mat-card-content style="width:100%;">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\pavan.jpg" style="width:280px;height:150px;"></div>
              <div fxLayout="column wrap" style="color: red;font-size: large;" fxFlex="50" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                <div style="width:70%;">
                  <div style="margin-bottom:2px;">
                    Name : Vijay Kumar G</div>
                  <div style="margin-bottom:2px;">
                    Qualification : Ph.d</div>
                  <div style="margin-bottom:2px;">
                    Experience : 2+years.</div>
                  <div style="margin-bottom:2px;">
                    Phone : +91 9558527689</div>
                  <div style="margin-bottom:2px;">
                    Email:VijayKumarG@gmail.com</div>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
      <div fxLayout="row wrap" style="margin:10px;" fxFlex="100" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
        <mat-card style="width:50%;height: fit-content;margin-bottom: -50px;">
          <mat-card-title style="color:blue;">Pavan Kumar MV</mat-card-title>

          <mat-card-subtitle style="color:black;">Professor</mat-card-subtitle>

          <mat-card-content style="width:100%;">
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\vijay.jpg" style="width:280px;height:150px;"></div>
              <div fxLayout="column wrap" style="color: red;font-size: large;" fxFlex="50" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
                <div style="width:70%;">
                  <div style="margin-bottom:2px;">
                    Name : Pavan Kumar MV</div>
                  <div style="margin-bottom:2px;">
                    Qualification : M.Tech</div>
                  <div style="margin-bottom:2px;">
                    Experience : 3+years.</div>
                  <div style="margin-bottom:2px;">
                    Phone : +91 8578968525</div>
                  <div style="margin-bottom:2px;">
                    Email:PavanKumarMV@gmail.com</div>
                </div>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions></mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>