<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-accordion style="margin-top:50px;margin-left:10px;margin-right:10px;;margin-bottom:10px;">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title style="    color: crimson;     font-size: medium;     font-weight: bold;">
          1st year results
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/indexa19.php">1-1 results </a></div>
      </mat-panel-description>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">1-2 results </a></div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:10px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          2nd year results
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">2-1 results </a></div>
      </mat-panel-description>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">2-2 results </a></div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:10px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          3rd year results
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">3-1 results </a></div>
      </mat-panel-description>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">3-2 results </a></div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion style="margin:10px">
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          4th year results
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">4-1 results </a></div>
      </mat-panel-description>
      <mat-panel-description>

        <div>
          <a href="http://www.skupgexams.org/results/index.php">4-2 results </a></div>
      </mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>