<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar color="primary">Event Details<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button routerLink="/addevents" color="accent">Add Events</button></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn" (click)="logout()">Logout</button></div>
    </div>
  </mat-toolbar>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:600px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let data of eventdata" style="margin-top:50px;">
        <mat-expansion-panel-header>

          <mat-panel-title>
            {{data.eventtopic}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>

          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <h3>
              {{data.eventtopic}}</h3>
            <div>
              {{data.eventdetail}}</div>
            <div>
              <strong>Date</strong> : {{data.eventdate}}</div>
            <div fxLayout="row wrap" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-top:30px;" color="warn" (click)="deleteEvent(data)">Delete</button></div>
          </div>
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>