/*Importing default angular material css theme. */

@import "nDefaults.scss";
@import "theme.scss";

.sidenavc {
    background:#448aff;
}
.btn-height {
    background-color: #0d47a1 !important;
}
.mat-toolbar 
{
display: flex;
justify-content: center;
}
.arrow-color {
     background-color: white !important
}
.mat-mini-fab.mat-accent {
    color:#5786d3 ;
}
 .sidenav{
    background:  mat-color($accent-color);
    top:56px !important;
}
.btn-height{
    height: 39px !important;
    padding: 0 20px !important;
}
.image-data{
    color: white;
}
.header-margin{
    margin-top: 0px;
}
.menu{
    cursor:pointer !important;
}
.pointer{
    cursor: pointer;
}

.search{
    background-color:white !important;  
     width: 500px !important;
     height: 39px !important;
    top: 4%  !important;
}
.sidelist{
    //  color:white !important;
}


.carousel-img{
    border:2px solid white;
    // max-width:274px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.25em;
    left: 2px;
    right: 9px;
    bottom: 0;
    pointer-events: none;
    background-color: white;
}