@import '~@angular/material/theming';

@include mat-core();

$primary-color: mat-palette($mat-blue, 900);
$accent-color:  mat-palette($mat-blue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn-color:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$neutrinos-theme: mat-light-theme($primary-color, $accent-color, $warn-color);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($neutrinos-theme); 