<div fxLayout="column wrap" style="height:820px;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="height:800px;    background-color: floralwhite;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="column wrap" style="margin-top:20px;margin-left:20px;" fxFlex="30" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" fxLayoutAlign="space-evenly end" [fxShow]="true" [fxHide]="false">
        <mat-card style="margin-left: 25px;margin-top: 38px;width:300px;height:692px;box-shadow: 10px 10px 15px #888888;">
          <img mat-card-image style="height:200px;width:333px;" imgSrc="Web\principal.jpg">

          <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Principal</mat-card-title>

          <mat-card-content align="left">
            <p style="font-family: purista-web;font-size: 15px;">
              Prof. <strong> Nagabhushan Raju </strong> is a Professor in the Department of Instrumentation &amp; USIC, Sri Krishnadevaraya University, Anantapur. He holds a B.Tech., in Mechanical Engineering, M.Tech in Energy Conservation &amp; Management and Ph.D. in Instrumentation.<br><br><br>
              &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;Being passionate towards academics, he pursued his career in Sri Krishnadevaraya University, Anantapur since 1993. He has completed four Major Research Projects sponsored by ISRO and UGC. 16 candidates have been awarded Ph.D. and 2 candidates M.Phil., under his research guidance. He has so far 105 publications to his credit in national and international journals.<br><br>
              &#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;&#xA0;He has held several responsibilities such as Head, Dept. of Instrumentation; Coordinator &amp; Head, Dept. of Electronics; Placement and Career Guidance Officer at SKU College of Engg.; Regional Coordinator for Jawahar Knowledge Centres; Principal, SKU College of Engineering &amp; Technology</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
    <div fxLayout="column wrap" fxFlex="60" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <div fxLayout="row wrap" style="margin-top:60px;font-family:purista-web;" fxLayoutAlign="space-between end" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/photo3.jfif">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2k15</mat-card-title>

            <mat-card-content align="left">
              <p style="font-family: purista-web;font-size: 15px;">
                The students of Career College of Management organized a plantation program at their premises recently.</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;" type="submit">View more</button></mat-card-actions>
          </mat-card>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/2017.jpg">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2k16</mat-card-title>

            <mat-card-content>
              <p style="font-family: purista-web;font-size: 15px;">
                The Department started in2006 with 60 intake seats B.Tech self funding course.25 intake seats started in 2013</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;">View more</button></mat-card-actions>
          </mat-card>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/2018.jpg">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2k17</mat-card-title>

            <mat-card-content>
              <p style="font-family: purista-web;font-size: 15px;">
                National Cadet Corps in India is a voluntary organization which recruits cadets from colleges and Universities all over India.</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;">View more</button></mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div fxLayout="row wrap" style="margin-top:60px;font-family:purista-web;" fxLayoutAlign="space-between end" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/2019.jpg">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2k18</mat-card-title>

            <mat-card-content align="left">
              <p style="font-family: purista-web;font-size: 15px;">
                Road bicycle racing is the cycle sport of road cycling,held on paved roads.It is the most popular form of bicycle racing.</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;">View more</button></mat-card-actions>
          </mat-card>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/2020.jpg">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2k19</mat-card-title>

            <mat-card-content>
              <p style="font-family: purista-web;font-size: 15px;">
                Almost all of the nearly 3000 students of Bharathidasan Government College for Women participated in the festivitiess</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;">View more</button></mat-card-actions>
          </mat-card>
        </div>
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-card style="width:200px;height:300px;box-shadow: 10px 10px 15px #888888;">
            <img mat-card-image style="height:130px;width:232px;" imgSrc="/Web/2015.jpg">

            <mat-card-title style="color:red;font-family: purista-web;font-size: 25px;font-weight:1500px;" align="center">Jan 2020</mat-card-title>

            <mat-card-content>
              <p style="font-family: purista-web;font-size: 15px;">
                A farewell function was organized by Department of Information science and of 130 has attended to share their views on the college</p>
            </mat-card-content>

            <mat-card-actions align="center"><button mat-raised-button style="font-family: purista-web;background-color:black;color:white;font-size: 15px;     font-weight: 1000;">View more</button></mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div fxLayout="column wrap" style="    background-color: floralwhite;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <div>
      <bh-carousel [imageData]="imageData" [limitImage]="limit" *ngIf="imageData"></bh-carousel>
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
    <mat-tab label="About">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="padding:10px;" fxFlex="100" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="column wrap" style="width:100%;height:100%;padding-right:10px" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><img imgSrc="Web\college.png" style="width:100%;height:100%"></div>
          <div fxLayout="column wrap" fxFlex="50" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-card>
                <mat-card-title style="    font-weight: bold;     color: #ea212a" align="center">SKUCET</mat-card-title>

                <mat-card-content>
                  <h3 style="    color: forestgreen;padding:10px">
                    Sri Krishnadevaraya University College of Engineering &amp; Technology came into existence in the year 2006 to mark the silver jubilee celebrations of the university. It was established to carter to the needs of the technical education of the young generation of the region.</h3>
                  <mat-expansion-panel style="margin-bottom:10px;">
                    <mat-expansion-panel-header>

                      <mat-panel-title style="    color: crimson;     font-size: medium;     font-weight: bold;">
                        HISTORY
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>

                      <div style="color:black;">
                        Sri Krishnadevaraya University College of Engineering &amp; Technology was started in the year 2006, during the tenure of Prof. Athota Rama Rao, Prof.Rajuru Ramakrishna Reddy, Prof.C.R.Vishweshar Rao, as Vice Chancellor, Registrar and Rector of the S.K.University respectively and Dr.D.Sai Baba Reddy was appointed as the Principal of S.K.University College of Engineering and Technology.</div>
                    </mat-panel-description>
                  </mat-expansion-panel>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>

                      <mat-panel-title style="    color: crimson;     font-size: medium;     font-weight: bold;">
                        MISSION
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>

                      <div style="color:black">
                        This will be recognized as a par excellence learning institution for engineering by providing the highest-quality academics that foster student development and connect knowledge and practice.</div>
                    </mat-panel-description>
                  </mat-expansion-panel>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Events">
      <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="space-between stretch" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" fxFlex="20" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-fab style="  background: black; width: 82px; margin-top:20px; height: 61px; " (click)="events();">
              <mat-icon>event</mat-icon>
            </button></div>
          <div fxLayout="row wrap" fxLayoutAlign="center none" [fxShow]="true" [fxHide]="false">
            <mat-card style="    background: black;     color: white;margin-bottom:20px;">
              <mat-card-content>
                <div>
                  Welcome to my collage ....<br>
                  Welcome to my collage ....<br>
                  Welcome to my collage ....<br></div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>