<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-toolbar style="background-color:black !important;"><img imgSrc="Web\logo.jpg" alt="college logo" style="height:80%;width:7%">
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="end center" [fxShow]="true" [fxHide]="false">
      <div fxLayout="column wrap" fxLayoutAlign="start start" [fxShow]="true" [fxHide]="false">
        <h2 style="color: #ea212a ; margin-right: 90px; font-size: 30px;">
          SRI KRISHNADEVARAYA UNIVERSITY</h2>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
        <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-around center" [fxShow]="true" [fxHide]="false">
          <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;background-color:#ea212a !important;" routerLink="/home/departments" color="accent">Home</button></div>
          <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false">
            <mat-menu #menu="matMenu" hasBackdrop="false" overlapTrigger="false"><button mat-menu-item routerLink="/home/cse"> CSE </button><button mat-menu-item routerLink="/home/ece"> ECE </button><button mat-menu-item routerLink="/home/eee"> EEE </button><button mat-menu-item routerLink="/home/mech"> MECH </button><button mat-menu-item routerLink="/home/civil"> CIVIL </button></mat-menu><button mat-raised-button style="margin-right:10px;background-color:#ea212a !important;" [matMenuTriggerFor]="menu" color="accent">Departments</button>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;background-color:#ea212a !important;" routerLink="/home/results" color="accent">Results</button></div>
          <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;background-color:#ea212a !important;" color="accent">Events</button></div>
          <div fxLayout="row wrap" fxLayoutAlign="  none" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;background-color:#ea212a !important;" routerLink="/home/contactus" color="accent">Contact Us</button></div>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
<router-outlet routerLink="/home/departments"></router-outlet>
<footer>
  <mat-toolbar color="primary" style="background-color:black !important;color:#ea212a;">
    <div>
      Copyright @SKU 2019</div>
  </mat-toolbar>
</footer>