<div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false">
  <mat-card>
    <mat-card-title style="color: crimson;     font-size: xx-large;     font-weight: bold;" align="center">Raise Your Query</mat-card-title>

    <mat-card-content align="center">
      <form [formGroup]="queryform">
        <mat-form-field color="accent" style="width:100%" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;always&apos;">
          <input matInput placeholder="Enter Your Name" required formControlName="name">
          <mat-label>Name</mat-label>
        </mat-form-field>
        <mat-form-field color="accent" style="width:100%" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;always&apos;">
          <input matInput placeholder="Enter Your Mobile Number" required formControlName="phone">
          <mat-label>Mobile</mat-label>
        </mat-form-field>
        <mat-form-field color="accent" style="width:100%;" [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;always&apos;">
          <input matInput placeholder="Enter Your Email" required formControlName="email">
          <mat-label>Email</mat-label>
        </mat-form-field>
        <mat-form-field style="width:100%;" color="accent">
          <textarea matInput formControlName="query" placeholder="Enter Your Query" required></textarea>
        </mat-form-field><button mat-raised-button style="width:100%" color="warn" (click)="submitquery(queryform.value)">Submit Query</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>