<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-card style="margin-top:90px;box-shadow: 5px 10px 8px 10px #888888;">
      <mat-card-title align="center">Admin Login</mat-card-title>

      <img mat-card-image>

      <mat-card-content>
        <form [formGroup]="loginForm">
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Enter your Email" required formControlName="email">
              <mat-error align="start" *ngIf="loginForm.controls.email.invalid">Enter Valid Email Id</mat-error>
              <mat-label>Email</mat-label>
            </mat-form-field>
            <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;">
              <input matInput placeholder="Enter Your Password" required formControlName="password">
              <mat-label>password</mat-label>
            </mat-form-field><button mat-raised-button color="warn" (click)="login(loginForm.value)">Login</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>