<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
    <mat-toolbar color="primary">Staff Details<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10" fxLayoutAlign="end end" [fxShow]="true" [fxHide]="false">
        <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="accent" (click)="addStaff()">Add Staff</button></div>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn" (click)="logout()">Logout</button></div>
      </div>
    </mat-toolbar>
  </div>
  <div fxLayout="row wrap" fxFlex="100" fxLayoutGap="10" fxLayoutAlign="space-evenly stretch" [fxShow]="true" [fxHide]="false">
    <div fxLayout="row wrap" style="padding-top: 20px !important;" fxLayoutAlign="space-around stretch" [fxShow]="true" [fxHide]="false" *ngFor="let staff of staffData">
      <mat-card>
        <mat-card-title align="center">{{staff.name}}</mat-card-title>

        <mat-card-subtitle align="center">{{staff.department}}</mat-card-subtitle>

        <mat-card-content align="center">
          <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput value="{{staff.email}}" required [disabled]="true">
                <mat-label>Email</mat-label>
              </mat-form-field>
              <mat-form-field [appearance]="&apos;legacy&apos;" [floatLabel]="&apos;auto&apos;">
                <input matInput value="{{staff.phoneNumber}}" required [disabled]="true">
                <mat-label>Phone Number</mat-label>
              </mat-form-field>
            </div>
            <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
              <div fxLayout="column wrap" style="margin-right: 20px !important;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="primary" (click)="editStaff(staff)">Edit</button></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false"><button mat-raised-button color="warn" (click)="deleteStaff(staff)">Delete</button></div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>